requests==2.32.3
pandas==2.2.3
openpyxl==3.1.5
pycountry==24.6.1
babel==2.16.0
PyJWT==2.9.0
python-dotenv==1.0.1
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.149.0
cryptography==43.0.3
stripe==15.4.0
rich==13.9.4
questionary==2.0.1
tomli==2.0.2; python_version < "3.11"
